</html>
<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>魯地圖分流器</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>

<body class="bg-light">
  <noscript>
    <strong>We're sorry but this site won't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>

  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">魯地圖分流器</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{selectedApp ? selectedApp.Name : '顯示全部'}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#" @click.prevent="selectedApp = null">顯示全部</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li v-for="app in apps"><a class="dropdown-item" href="#"
                      @click.prevent="selectedApp = app">{{app.Name}}</a></li>
                </ul>
              </li>
              <li v-if="selectedApp && selectedApp.Variants && selectedApp.Variants.length > 1"
                class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{selectedVariant ? selectedVariant.Name : '不分版本'}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#" @click.prevent="selectedVariant = null">不分版本</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li v-for="variant in selectedApp.Variants"><a class="dropdown-item" href="#"
                      @click.prevent="selectedVariant = variant">{{variant.Name}}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div v-for="app in selectedApps" :key="app.ID" class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="d-flex align-items-center p-2 text-white bg-dark rounded shadow-sm">
          <img class="me-3" v-bind:src="app.Icon" alt="" width="32" height="32">
          <div class="lh-1">
            <h1 class="h6 mb-0 text-white lh-1">{{app.Name}}</h1>
          </div>
        </div>
        <div v-for="variant in selectedVariants(app)" :key="app.ID + '/' + variant.ID">
          <h5 class="p-2 mb-0">{{variant.Name}}</h5>
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            <div v-for="artifact in variant.Artifacts" :key="app.ID + '/' + variant.ID + '/' + artifact.ID" class="col">
              <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" v-bind:src="qrcodeURL(artifact)">
                <div class="card-body">
                  <h5 class="card-title">{{artifact.Name}}</h5>
                  <div>
                    <span v-for="source in artifact.Sources" style="padding-right: 2pt;"><span v-bind:class="badgeClasses(source.Status)">{{source.Site.Name}}</span></span>
                  </div>
                  <div class="input-group mb-3">
                    <textarea rows="4" class="form-control" onfocus="this.select();"
                      readonly>{{artifact.URL}}</textarea>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a class="btn btn-sm btn-outline-secondary"
                        v-bind:href="artifact.URL">開啟連結</a>
                    </div>
                    <small class="text-muted">{{humanFileSize(artifact.Size)}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://unpkg.com/vue@2"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        apps: [],
        selectedApp: null,
        selectedVariant: null,
      },
      mounted() {
        var xhr = new XMLHttpRequest();
        var self = this;
        xhr.open("GET", "/v1/apps");
        xhr.onload = function () {
          self.apps = JSON.parse(xhr.responseText);
          self.init();
        };
        xhr.send();
      },
      computed: {
        selectedApps: function () {
          if (!this.selectedApp) {
            return this.apps;
          }
          return [this.selectedApp];
        },
      },
      methods: {
        init: function() {
          var apps = this.apps;
          var paths = window.location.pathname.split('/');
          paths.shift();
          var appID = paths.shift();
          if (appID) {
            for (var i = 0; i < apps.length; i++) {
              var app = apps[i];
              if (app.ID == appID) {
                this.selectedApp = app;
                break;
              }
            }
          }
          var variantID = paths.shift();
          if (this.selectedApp && variantID) {
            var app = this.selectedApp;
            for (var i = 0; i < app.Variants.length; i++) {
              var variant = app.Variants[i];
              if (variant.ID == variantID) {
                this.selectedVariant = variant;
                break;
              }
            }
          }
          this.$watch('selectedApp', function(app) {
            this.selectedVariant = null;
            history.replaceState({}, null, '/' + app.ID);
          });
          this.$watch('selectedVariant', function(variant) {
            history.replaceState({}, null, '/' + this.selectedApp.ID + '/' + variant.ID);
          });
        },
        selectedVariants: function (app) {
          if (!this.selectedApp) {
            return app.Variants;
          }
          if (!this.selectedVariant) {
            return this.selectedApp.Variants;
          }
          return [this.selectedVariant];
        },
        qrcodeURL(artifact) {
          return '/v1/qrcode?text=' + encodeURIComponent(artifact.URL) + '&icon=' + encodeURIComponent(artifact.Icon);
        },
        humanFileSize(bytes, si = false, dp = 1) {
          const thresh = si ? 1000 : 1024;
          if (Math.abs(bytes) < thresh) {
            return bytes + ' B';
          }
          const units = si
            ? ['kB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
            : ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
          let u = -1;
          const r = 10 ** dp;
          do {
            bytes /= thresh;
            ++u;
          } while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1);
          return bytes.toFixed(dp) + ' ' + units[u];
        },
        badgeClasses(status) {
          switch (status) {
            case 0:
              return 'badge bg-success mb-1';
            case 1:
              return 'badge bg-danger mb-1';
          }
        }
      }
    })
  </script>

</html>